main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 9rem;
    background: white;
    border-radius: 1rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}